# Connecting Python to MySQL

In [ ]:
# installing mysql-connector
!pip install mysql-connector-python

## Establishing connection with MySQL

<h3>Connection Parameters</h3>
<div>
    <table>
        <thead>
        <tr>
          <th>Argument Name</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            <th>user (username*) </th>
            <th> n/a </th>
            <th>The user name used to authenticate with the MySQL server.</th>
            </tr>
            <tr>
            <th>password (passwd*) </th>
            <th> n/a </th>
            <th>The password to authenticate the user with the MySQL server.</th>
            </tr>
            <tr>
            <th>database (db*) </th>
            <th> n/a </th>
            <th>The database name to use when connecting with the MySQL server.</th>
            </tr>
            <tr>
            <th>host</th>
            <th>127.0.0.1 </th>
            <th>The hostname ip address.</th>
            </tr>
            <tr>
            <th>port</th>
            <th>3306</th>
            <th>The TCP/IP port of the MySQL server. Must be an integer.</th>
            </tr>            
        </tbody>
    </table>
 </div>   
    <p>Refer to <a href='https://dev.mysql.com/doc/connectors/en/connector-python-connectargs.html' > dev.mysql.com for more details.</a></p>

In [6]:
# import library
import mysql.connector
params = {'user':'root', 
          'database':'chicago', 
          'password': 'L0g0$L0g0$'}

try:
    cnx = mysql.connector.connect(**params)
    print ("Connected to database: ", params['database'], "as user: ", params['user'])

except:
    print ("Unable to connect" )

Connected to database:  chicago as user:  root

#### Executing query on a cursor for connection testing.

In [7]:
import pandas as pd

query = ("SELECT * FROM CHICAGOPUBLICSCHOOLS")

cursor = cnx.cursor(buffered = True)
cursor.execute(query)

df = pd.DataFrame(cursor.fetchall())

df.columns = cursor.column_names

In [9]:
df.head()

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"